<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <!--[if lt ie 8]>
        <script type="text/javascript" src="../public/bootstrap/html5shiv.min.js"></script>
        <script type="text/javascript" src="../public/bootstrap/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../public/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../public/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/bootstrap/js/bootstrap.min.js"></script>
    <title><%=title%></title>
    <style type="text/css">
        .table-vertical-middle tr td
        {
            vertical-align: middle !important;
        }
    </style>
</head>
<body>
 