<div class=" table-responsive">
        <table class=" table-vertical-middle table table-hover table-bordered table-striped table-condensed">
            <tr>
                <th>日期</th>
                <th>标题</th>
                <th>新闻类型</th>
                <th>新闻图片</th>
                <th>回复数量</th>
                <th>发布人员</th>
                <th>操作</th>
            </tr>
            <%data.forEach(item=>{%>
                <tr>
                    <td class=" col-sm-2"><%=item.n_date.toLocaleString()%></td>
                    <td class=" col-sm-2"><%=item.n_title%></td>
                    <td class=" col-sm-1"><%=item.n_type%></td>
                    <td class=" col-sm-2">
                        <img src="<%=item.n_picPath%>" alt="新闻图片" class=" img-thumbnail" style="width:45px;height:45px">
                    </td>
                    <td class=" col-sm-1"><%=item.commentCount%></td>
                    <td class=" col-sm-2"><%=item.a_realName%></td>
                    <td class=" col-sm-2">
                        <button type="button" class=" btn btn-primary">编辑</button>
                        <button type="button" class=" btn btn-danger">编辑</button>
                    </td>
                </tr>
            <%})%>
        </table>
    </div>
    <ul class=" pagination pull-right">
        <%for(var i=1;i<=pageCount;i++){%>
            <li class="<%=pageIndex==i?'active':''%>"><a href="#"><%=i%></a></li>
        <%}%>
    </ul>